<a href="<%= @link_url %>">
  <div class="bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex justify-center bg-sky-900 rounded-t-lg">
      <img class="my-10 h-20 w-auto" src="<%= @image_url %>" alt="Imagem do Conteúdo" />
    </div>
    <div class="p-5">
      <h5 class="mb-2 text-xl text-center font-bold tracking-tight text-gray-900 dark:text-white"><%= @title %></h5>
      <div class="mb-4">
        <%= render(SubjectCard::FrequencyComponent.new(
          title: "Frequência na OBI",
          frequency: @obi_frequency
        ))%>
      </div>
      <div class="mb-4">
        <%= render(SubjectCard::FrequencyComponent.new(
          title: "Frequência na Maratona",
          frequency: @icpc_frequency
        ))%>
      </div>
    </div>
  </div>
</a>
