<div class="p-12 bg-slate-50">
  <div class="w-full bg-white rounded-lg border shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
      <% tabs.each do |tab| %>
        <li class="mr-2">
          <% if tab.is_active %>
            <a href="<%= tab.url %>" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"><%= tab.title %></a>
          <% else %>
            <a href="<%= tab.url %>" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"><%= tab.title %></a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div>
      <%= body %>
    </div>
  </div>
</div>